= form_tag [:admin, :items], method: 'get' do
  = text_field_tag :q, params[:q],
    placeholder: 'Search'
%table.table.table-striped
  %thead
    %tr
      %th Category
      %th Brand
      %th Name
      %th Quantity of Items Remaining
      %th Minimum Quantity
      %th
  %tbody
    - if @items.empty?
      %i There is no match for your search
    = render @items
= link_to 'Create a new Item', new_admin_item_path
