- flash.each do |type, message|
  - if current_user || current_admin_user
    - alert_class = alert_color(type)
    = content_tag :div, message, id: "flash_#{type}", class: "alert alert-#{alert_class}"
  - else
    .alert.alert-danger
      = message
