= "There are currently #{@admin_users.count} client(s) on the platform"
%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Full Name
      %th Establishment
      %th
  %tbody
    = render @admin_users

= link_to 'Create a new Admin', new_admin_admin_user_path
