%h1 We're sorry, but something went wrong.</h1>
%p If you are the application owner check the logs for more information.</p>
- if current_user
  = link_to 'Return to app', root_path
- else
  = link_to 'Return to app', admin_root_path
