%p Hello #{@name}

%p We are writing to inform you that you need to restock on your item, #{@item.name}
%p You can do that by clicking #{link_to 'here', add_stock_admin_item_url(@item)}

%p Thank you
%p The StoreManager Team
