%table.table.table-striped
  %thead
    %tr
      %th Seller
      %th Item Category
      %th Item Brand
      %th Item Sold
      %th Initial Quantity
      %th Time
  %tbody
    = render @transactions
