%table.table.table-striped
  %thead
    %tr
      %th Seller
      %th Item Category
      %th Item Brand
      %th Item Sold
      %th Quantity Sold
      %th Initial Quantity
      - if action_name == 'index'
        %th Date
      %th Time
  %tbody
    = render @transactions
