@mixin devise-bg($img) {
  background: url("sm-#{$img}.jpg") no-repeat center center fixed;
  background-size: cover;
}

html {
  $i: 1;
  @while $i < 7 {
    .devise-body.sm-#{$i} {
      @include devise-bg($i)
    }
    $i: $i + 1;
  }
}

.log-box {
  background-color: #fff;
  opacity: 0.9;
  border-radius: 20px;
  width: 50%;
  border: 2px solid #a00;
  box-shadow: 0 0 30px #a00;
  text-align: center;

  // centralizing
  right:50%;
  bottom: 50%;
  position: absolute;
  transform: translate(50%, 50%);
}

#devise {

  a {
    color: #a00;
    padding: 5px;
  }

  a:visited {
    color: #a00;
  }

  a:hover {
    color: #000;
  }

  .login {
    font-size: 1.5em;
  }

  .login:focus {
    border-bottom: 1px solid #a00;
    box-shadow: 0 1px 0 0 #a00;
  }

  .login:checked + label:before {
    border-right: 2px solid #a00;
    border-bottom: 2px solid #a00;
  }

  label {
    color: #000;
  }

  .btn {
    background-color: #a00;
    color: #fff;
    font-size: 1.5em;
    padding-bottom: 43px;
  }

  .alert {
    &.alert-danger {
      background-color: #ffeeee;
      border-color: #eed3d7;
      color: #b94a48;
      font-size: 1em;
    }

    &.alert-success {
      background-color: #dff0d8;
      border-color: #b2dba1;
      color: #3c763d;
      font-size: 1em;
      animation: hide-after-delay 0.5s forwards;
      animation-iteration-count: 1;
      animation-delay: 3.5s;
    }
  }
}

@keyframes hide-after-delay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height:0;
    margin: 0;
  }
}

/*********************************
        MEDIA QUERIES
*********************************/

@media screen and (max-width: 600px) {
  .log-box {
    height: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content:center;
    flex-direction:column;
    transform: none;
  }
}
