= "You have #{@users.count} employee(s)"

%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Name
      %th Nickname
      %th
  %tbody
    = render @users

= link_to 'Create a new Employee', new_admin_user_path
